/*===== ÍNDICE =====

====ATALHOS====

00 - REGRA GERAL
05 - FOOTER

====PC====

01 - MENU
02 - INICIO
03 - PERFIL
04 - PUBLICAÇOES

====TABLET====

06 - MENU
07 - INICIO
08 - PERFIL
09 - PUBLICAÇOES

===== TELEMOVEL =====

10 - MENU
11 - INICIO
12 - PERFIL
13 - PUBLICAÇOES

*/


/*===== REGRA GERAL ===== 00 */ 
* { /* Reset css */
  margin: 0; /* Margem geral resetada */
  padding: 0; /* Padding geral resetado */
}
html { scroll-behavior: smooth; } /* Ao dar scroll fica mais suave */
body { /* Corpo do Wesbite */
background: #ffffff; /* Cor do background geral */
}
main{  /*Caixa criada para o conteudo geral*/
  width: 100%; /*Tamanho largura da caixa*/
  height: 905px; /*Tamanho em altura da caixa*/
}
.box{
  width: 80%;
  margin:0 auto;
}
.box h1{
  padding-right: 15%;
  font-size: 120%;
  color: #F8981D;
  padding-left: 3%;
  font-family: sans-serif;
  border-left: 4px solid #F8981D;
  text-transform: capitalize; 
  font-weight: bold; 
  margin: 30px 0; 
  display: block;
}
.box h2{
  font-family: sans-serif;
  color: #F8981D;
  font-size: 100%;
  padding-right: 15%;
  padding-left: 3%;
  text-transform: capitalize; 
  margin:10px 0; 
  padding: 0;
}
.box h3{
  margin:25px 0; 
  font-size: 16px; 
  font-weight: normal;
}
.box .coluna-2{float: left; 
  width: 50%; 
  height: 170px;
}
.hidden {
  display: none;
}
/*===== END =====*/

/*===== MENU ===== 01 */
menu{
  height: 50px; /* Espaço entre o topo */
  background-color: #F8981D; /* Cor de fundo */
  z-index: 10; /* Prioridade */
}
botao ul{ /* Caixinha dos botões do menu */
  width: 90%; /* Tamanho da caixa */
  float: left; /* Onde se alinha */
  border-bottom: 5px solid #F8981D; /* Adicionado border e cor */
}
botao li {
  display: inline; /* Ficar em linha */
  margin-left: 40px; /* Margem da esquerda */
} 
botao li a {
  color: #ffffff; /* Cor das letras */
  font-family: sans-serif; /* Tipo de fonte */
  text-decoration: none; /* Sem decorações */
  text-transform: uppercase; /* Letras transformadas em capslock */
  line-height: 50px ; /* Onde se alinham */
}
 botao li a:hover{
   border-bottom: 2px solid #ffffff; /* Passar por cima do botão */
 }

 .esquerda-logo { /* Logotipo posicionamento*/
  height: 50px; /* Espaço entre o topo */
  width: 10%; /* Tamanho */
  float: left; /* Onde se posiciona */
  border-bottom: 5px solid #F8981D; /* Colocado border por baixo para completar a barra */
 }
 .esquerda-logo img{ /* Logotipo imagem*/
  width: 85%; /* Tamanho*/
 }
.esquerda-menu { /* DGM */
  line-height: 50px; /* Onde se alinha*/
  font-family: sans-serif; /* Tipo de letra */
  color: #ffffff; /* Cor da letra */
  float: right; /* Onde se posiciona */
  margin-right: 4%; /* Margem da direita */
  font-weight: bold; /*Peso da fonte */
}
/*===== END =====*/

/*===== INICIO 02 =====*/
.caixae, .caixad {   /*caixas direita e esquerda dos hexagonos laterais*/
  width: 15%; /*Tamanho largura das caixas*/
  height: 900px; /*Tamanho altura das caixas*/
}
.caixae{  /*Caixa esquerda*/
  float: left;   /*Alinhado à esquerda*/
  clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%, 100% 0%, 0% 100%); /* Shape da border */  
  cursor:pointer; /* Tipo de cursor a passar por cima */ 
}
.caixad{   /*Caixa direita*/
  float: right;   /*Alinhado à direita*/
  clip-path: polygon(100% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 75%, 0% 25%); /* Shape da border */
  cursor:pointer; /* Tipo de cursor a passar por cima */ 
}
.caixae img, .caixad img{ /* Shape das imagens */
  width: 100%; /*Tamanho largura da imagem*/
  height: 100%; /*Tamanho altura da imagem*/
}
.Galeria{   /*Caixa para as imagens*/
  width: 70%; /*Tamanho da caixa largura*/
  height: 900px; /*Tamanho da caixa altura*/
  float: left; /*Posicionado à esquerda*/
  position: relative; /*Posicionado ao centro*/
}
.hex {  /*Imagens dos hexagonos*/
  width: 20%; /*Tamanho da caixa largura*/
  height: calc(30%); /*Tamanho da caixa altura*/
  position: absolute; /*Posiçao das caixas*/
}
.Hexagono{ /* Propriedades dos hexagonos da galeria */
  width: 100%; /*Tamanho em altura*/
  height: calc(100%); /*Tamanho em largura*/
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%,0% 75%, 0% 25%); /* Shape da border */
  padding:5px; /* Tamanho da linha da border */
  background: #F8981D; /* Cor da border */
  transition:transform 0.2s; /* Tempo que demora a aumentar */
  cursor:pointer; /* Tipo de cursor a passar por cima */
}
.Galeria .hex .Hexagono img{ /* Shape das imagens */
  width: 100%; /*Tamanho em altura*/
  height: calc(100%); /*Tamanho em largura*/
}
.hex:hover{ /* Quando passa por cima aumenta tamanho */
  transform:scale(1.2); /* Tamanho a aumentar */
  transition:transform 0.2s; /* Tempo que demora a diminuir */
  z-index:10; /* Prioridade */
}
.hex:nth-child(1){ /*Hexagono 1 posição*/
  top:10%;
  left:5.5%;
}
.hex:nth-child(2){ /*Hexagono 2 posição*/
  top:33%;
  left:16%;
}
.hex:nth-child(3){ /*Hexagono 3 posição*/
  top:56%;
  left:5.5%;
}
.hex:nth-child(4){ /*Hexagono 4 posição*/
  top:56%;
  left:26.5%;
}
.hex:nth-child(5){ /*Hexagono 5 posição*/
  top: 10%;
  left:68.5%;
}
.hex:nth-child(6){ /*Hexagono 6 posição*/
  top:56%;
  left:68.5%;
}
.hex:nth-child(7){ /*Hexagono 7 posição*/
  top:33%;
  left:58%;
}
/*===== END =====*/

/*===== PERFIL 03 =====*/
.perfil-painel{ /*Painel geral*/
  background-color: #F8981D;
  width: 80%; /*Tamanho largura*/
  height: 250px; /*Tamanho altura*/
  border-bottom-left-radius: 10px; /*Acabamento circular esquerda*/
  border-bottom-right-radius: 10px; /*Acabamento circular direita*/
  margin:0 10%; /*Margem à direita*/
}
.perfil-painel .avatar{ /*Imagem de perfil*/
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /*Shape da imagem*/
  background-color: #ffffff; /*Cor do background*/
  width: 180px; /*Tamanho largura*/
  height: 200px; /*Tamanho altura*/
  margin: auto; /*Centrado*/
}
.perfil-painel .avatar img{
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /*Shape da imagem*/
  width: 99%; /*Tamanho da imagem*/
  height: 99%; /*Tamanho da imagem*/
}
.perfil-painel h1{ /*Texto centrado*/
  position: absolute;
  margin: auto;
  left:45%;
  top:250px;
  color:#fff;
}
.perfil-painel h2{ /*Texto centrado*/
  position: absolute;
  margin: auto;
  left:45%;
  top:270px;
  color:#fff;
}
.perfil-menu{ /*Barra a baixo*/
  margin: 20px auto ;
  background-color: #F8981D;
  width: 50%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  line-height: 50px;
}
.perfil-menu a{ /*Texto*/
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:#ffffff;  
}
.perfil-esquerdo{
  float: left; /*Alinhado à esquerda*/
  margin-left:20px; /*Espaçamemto entre imagens*/
}
.perfil-direito{ /*Espaçamento*/
  float: right;
  margin-right:50px;
} 
.perfil-galeria{  /*Posicionamento centrado*/
  width: 80%; 
  max-width: 1000px; 
  margin:0 auto;
}
.perfil-galeria h1 a{ /*Texto*/
  text-decoration: none; 
  color:#000000;
} 
.perfil-galeria img{ /*Imagens*/
  margin-top: 10px;
  width: 30%; margin-right: 3%;   
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} 

/*===== END =====*/

/*===== PUBLICAÇOES 04 =====*/
.ColabTitle p {
  margin-top: 50px;
  font-size: 5px;   /* Tamanho do texto*/
}
.pub p {
  font-size: 20px;  /* Tamanho do texto*/
  margin-top: 5%;  /* Margem do topo*/
}
.pub img{
  float: left;
  width: 15%;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*===== END =====*/

/*===== FOOTER 05 =====*/
footer {
  clear: both; /* limpa alterações até ao momento*/
  display: block; /* Ocupar toda a caixa*/
  background-color: white;
  border-top: 5px solid #F8981D;
}
.direita-footer, .esquerda-footer{
  width: 48%;
  margin: 2% 1%;
  float: left;
}
.esquerda-footer img{
  width: 20%;
  margin-top:-20px;
  margin-left: 1.5%;
}
/*===== END =====*/









/*===== TABLET =====*/
@media screen and (max-width: 1150px) {

/*===== MENU 06 =====*/
.botao-wrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.2s ease;
  background: #F8981D;
}
.botao-wrapper ul {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  width: 0%;
}
.botao-wrapper ul li {
  display: block;
  float: none;
  text-align: center;
  margin-bottom: 10px;
}
.botao-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
}
.botao-wrapper ul li:nth-child(2) a {
  transition-delay: 0.3s;
}
.botao-wrapper ul li:nth-child(3) a {
  transition-delay: 0.4s;
}
.botao-wrapper ul li:nth-child(4) a {
  transition-delay: 0.5s;
}
.botao-wrapper ul li:not(:first-child) {
  margin-left: 0;
}

.botao-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  transform: translateX(-20px);
  transition: all 0.2s ease;
}

.botao-device {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.botao-device i {
  display: block;
  width: 20px;
  height: 2px;
  background: rgb(0,0,0);
  border-radius: 2px;
  margin-left: 14px;
}

.botao-device i:nth-child(1) {
  margin-top: 16px;
}

.botao-device i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.botao-device i:nth-child(3) {
  margin-top: 4px;
}
menu{
  height: 0; /* Espaço entre o topo */
  background-color: #F8981D; /* Cor de fundo */
}
botao ul{ /* Caixinha dos botões do menu */
  width: 90%; /* Tamanho da caixa */
  float: left; /* Onde se alinha */
  border-bottom: none; /* Adicionado border e cor */
}
botao li {
  margin-left: 0px; /* Margem da esquerda */
} 
botao li a {
  color: white ;
  font-family: sans-serif; /* Tipo de fonte */
  text-decoration: none; /* Sem decorações */
  text-transform: uppercase; /* Letras transformadas em capslock */
  line-height: 50px ; /* Onde se alinham */
}
.esquerda-logo { display: none;}
.esquerda-logo img{ display: none;}
.esquerda-menu { display: none !important;}



#botao:checked + .botao-device { /* Formato de x */
  transform: rotate(45deg);
}
#botao:checked + .botao-device i {
  background: rgb(255, 255, 255); /* Cor das linhas x */
  transition: transform 0.2s ease; /* tempo de transformação x */
}
#botao:checked + .botao-device i:nth-child(1) { /* Linha 1*/
  transform: translateY(6px) rotate(180deg); /* rotação*/
}
#botao:checked + .botao-device i:nth-child(2) { /* Linha 2*/
  opacity: 0; /* Desaparece ao clicar*/
}
#botao:checked + .botao-device i:nth-child(3) {  /* linha 3*/
  transform: translateY(-6px) rotate(90deg); /* rotaçao */
}
#botao:checked ~ .botao-wrapper {
  z-index: 9990; /* Prioridade sobre a página */
  opacity: 1;
}
#botao:checked ~ .botao-wrapper ul li a {
  opacity: 1;  /* Background aparece*/
  transform: translateX(0);
}

/*===== INICIO 07 =====*/
.caixae{  display: none;}
.caixad {   /*caixas direita do hexagono lateral*/
  width: 30%; /*Tamanho largura das caixas*/
  clip-path: polygon(100% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 75%, 0% 25%); /* Shape da border */
}
.hex {  /*Imagens dos hexagonos*/
  width: 25%; /*Tamanho da caixa largura*/
}
.Galeria .hex .Hexagono img{ /* Shape das imagens */
  width: 100%; /*Tamanho em altura*/
  height: calc(100%); /*Tamanho em largura*/
}
.hex:hover{ /* Quando passa por cima aumenta tamanho */
  transform:scale(1.2); /* Tamanho a aumentar */
  transition:transform 0.2s; /* Tempo que demora a diminuir */
  z-index:10; /* Prioridade */
}
.hex:nth-child(4){ /*Hexagono 4 posição*/
  left:30.5%;
}
/*===== END =====*/

/*===== PERFIL 08 =====*/
.perfil-painel{ /*Painel geral*/
  width: 100%; /*Tamanho largura*/
  height: 220px; /*Tamanho altura*/
  margin:0 0%; /*retirar margem*/
}
.perfil-painel .avatar{ /*Imagem de perfil*/
  width: 180px; /*Tamanho largura*/
  height: 180px; /*Tamanho altura*/
}
.perfil-painel h1{ /*Texto centrado*/
  left:44%;
  top:180px;
}
.perfil-menu{ /*Barra a baixo*/
  width: 80%;
}
.perfil-menu a { /*Barra a baixo*/
  font-size: 15px ;
}
.perfil-esquerdo{
  margin-left:10%; /*Espaçamemto entre imagens*/
}
.perfil-galeria{  /*Posicionamento centrado*/
  width: 70%; 
}
.perfil-galeria img{ /*Imagens*/
  width: 30%; margin-right: 1%;   
} 
/*===== END =====*/

/*===== PUBLICAÇOES 09 =====*/
.pub p {
  font-size: 17px;  /* Tamanho do texto*/
}
.pub img{
  width: 25%;
}
/*===== END =====*/
}

/*===== TELEMOVEL =====*/
@media screen and (max-width: 650px) {

  /*===== MENU 10 =====*/

/*===== INICIO 07 =====*/
.caixad { display:none;}
.hex {  /*Imagens dos hexagonos*/
  width: 45%; /*Tamanho da caixa largura*/
  height: 20%; /*Tamanho da caixa Altura*/
}
.hex:nth-child(4){ /*Hexagono 4 posição*/
  left:35%;
}
/*===== END =====*/

/*===== PERFIL 08 =====*/
.perfil-painel .avatar{ /*Imagem de perfil*/
  width: 140px; /*Tamanho largura*/
  height: 160px; /*Tamanho altura*/
}
.perfil-painel h1{ /*Texto centrado*/
  left:40%;
  top:170px;
}
.perfil-menu{ /*Barra a baixo*/
  width: 80%;
  height: 110px;
}
.perfil-menu a { /*Barra a baixo*/
  font-size: 15px ;
}
.perfil-esquerdo{
  margin-left:10%; /*Espaçamemto entre imagens*/
}
.perfil-direito{
  margin-right: 240px; /*Espaçamemto entre imagens*/
}
.perfil-galeria{  /*Posicionamento centrado*/
  width: 70%; 
}
.perfil-galeria img{ /*Imagens*/
  width: 30%; margin-right: 1%;   
} 
/*===== END =====*/

/*===== PUBLICAÇOES 09 =====*/
.pub img{
  width: 50%;
}
}
}