
.avatar-mini{
  width: 20%;
  float: left;
  background-color: black;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.avatar-mini img{
  width: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.coluna-2 .informacoes{width: 78%; float: left; margin-left: 10px; margin-top: 45px;}